@model IEnumerable<LogicLayer.Component>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Components";
}


<h1>@ViewData["CurrentWebsiteName"] - @ViewData["CurrentPage"].GetType().GetProperty("Name").GetValue(ViewData["CurrentPage"]).ToString()</h1>

<p>
    <a class="btn btn-success" href="/Component/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Html)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Html)
                </td>
                <td>
                    <a href="/Component/Edit/@item.ComponentId">Edit</a> |
                    <a href="/Page/Details/@item.ComponentId">Show</a> |
                    <a href="/Page/Delete/@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>